<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Virtual Pet</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-2">
      <h1>Virtual Pet List</h1>
      <table border="1" class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th>PetId</th>
            <th>PetName</th>
            <th>Description</th>
            <th>Boredom</th>
            <th>Hunger</th>
            <th>Thirst</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p: ${allPets}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.petName}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.boredom}"></td>
            <td th:text="${p.hunger}"></td>
            <td th:text="${p.thirst}"></td>
          </tr>
        </tbody>
      </table>
      <h2>Modify My Pet</h2>
      <form action="/modPet" method="post">
        <button type="submit" class="btn btn-primary">Modify Pet</button>
      </form>
    </div>
  </body>
</html>
